@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin flex-justify {
  display: flex;
  justify-content: center;
}
